.root {
	display: flex;
}

.row {
	width: 100%;
	display: grid;
	grid-template-columns: 24px 60px 96px 254px 197px 200px auto;
	gap: 32px;
	border-bottom: 1px solid #eaf0fa;
	padding: 24px 0;
}

.col:nth-child(3) {
	margin-left: 16px;
}

.col:nth-child(4) {
	margin-left: 29px;
}

.col:nth-child(5) {
	margin-left: 40px;
}

.col:last-child {
	text-align: right;
}

.title {
	font-size: 14px;
	color: #5e7793;
	cursor: pointer;
}
