.root {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;

	&.in path {
		fill: #005ff8;
	}

	&.inError path {
		fill: #ea1a4f;
	}

	&.out path {
		fill: #28a879;
	}

	&.outError path {
		fill: #ea1a4f;
	}
}
