@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--font-main: 'Roboto';
	--text-color: #122945;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 1.6;
	font-family: var(--font-main), sans-serif;
	overflow-x: hidden;
	color: var(--text-color);
}

a,
a:link,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}
